*{
	box-sizing: border-box;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-family: 'Graphik LCG', sans-serif;
	scroll-behavior: smooth;
}

body{
	display: flex;
	flex-direction: column;
}

/* Preloader */

.preload * {
	-webkit-animation: none !important;
	-moz-animation: none !important;
	-o-animation: none !important;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}

.preload .preloader{
	opacity: 1;
	top: 0;
}

.preloader{
	z-index: 999;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background: #222222;
}

.preloader{
	animation: preloader 0.5s 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.preloader img{
	width: 240px;
	animation: preloader 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes preloader {
	0%{
		opacity: 1;
	} 100%{
		opacity: 0;
	}
}

/* Navbar */

.navbar{
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: url(images/navbar-bg.png) no-repeat;
	background-size: cover;
	background-position: 0 -200px;
	z-index: 500;
}

.container{
	width: 100%;
	max-width: 1170px;
	margin: 0 32px;
}

.new-location{
	position: relative;
	display: flex;
	color: #fff;
	height: 32px;
	font-size: 12px;
	font-weight: 600;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	background: rgba(17, 17, 17, 0.4);
}

.new-location img{
	width: 8px;
	margin-right: 10px;
}

.nav-middle{
	display: flex;
	margin: 30px 0;
	color:#fff;
	justify-content: center;
}

.nav-mid-container{
	display: flex;
	justify-content: space-between;
}

.nav-middle-r-sec{
	display: flex;
}

#location{
	display: flex;
	align-items: center;
	margin-right: 80px;
	font-size: 12px;
	text-decoration: underline dashed rgba(255, 255, 255, 0.5);
	cursor: pointer;
}

.nav-location{
	display: flex;
	align-items: center;
}

.number{
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 600;
}

#location img, .number img{
	margin-right: 10px;
}

.location-select-wrapper{
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
	color: #000;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.location-select-wrapper.location-select-wrapper-active{
	visibility: visible;
	opacity: 1;
}
.location-select-wrapper-active .location-bg-fade{
	opacity: 1;
}

.location-bg-fade{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: rgba(255, 255, 255, 0.3);
	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
	z-index: -1;
	cursor: default;
}

.location-select{
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 360px;
	padding: 24px;
	background: #fff;
	cursor: default;
}


.location-select-text span{
	display: block;
}

.location-select-text .location-select-city{
	font-weight: 600;
	font-size: 16px;
	margin: 8px 0 6px 0;
}

.location-select-title{
	font-weight: 800;
	font-size: 20px;
	margin-bottom: 24px;
}

.location-select-close-btn{
	cursor: pointer;
	position: absolute;
	margin-right: 0px !important;
	right: 24px;
}

.location-select-incorrect{
	font-size: 12px;
	color: #afafaf;
	line-height: 100%;
}

.location-select-text{
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
	margin-bottom: 12px;
}

.location-list{
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.location-list-input{
	width: 100%;
	border: none;
	outline: none;
	padding: 16px 24px;
	background: #F8F6F4;
	cursor: default;
}

.location-droplist{
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
	top: 100%;
	overflow-y: scroll;
	cursor: pointer;
	visibility: hidden;
	height: 0;
	opacity: 0;
	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.location-droplist.location-droplist-active{
	height: calc(44px * 5);
	visibility: visible;
	opacity: 1;
}

.location-droplist::-webkit-scrollbar{
	background: #fff;
	width: 8px;
}

.location-droplist::-webkit-scrollbar-thumb{
	background: rgba(17, 17, 17, 0.4);
	border-radius: 20px;
}

.location-droplist-item{
	padding: 16px 24px;
	background: #fff
}

.nav-main{
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	background: rgba(17, 17, 17, 0.4);
}

.nav-main-container{
	display: flex;
	justify-content: space-between;
}

.ul-menu {
	display: flex;
	list-style-type: none;
}

.ul-menu a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	padding: 18px 20px;
	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ul-menu a:hover{
	background: rgba(17, 17, 17, 0.4);
}

.ul-menu a li{
	display: flex;
	align-items: center;
	white-space: nowrap;
}

.ul-menu a:nth-child(1){
	color: #000;
	background: #fff;
}

.ul-menu a:nth-child(1) img{
	margin-right: 16px;
}

.nav-main-r-sec{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.search-btn{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	aspect-ratio: 1/1;
	cursor: pointer;
	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.search-btn:hover{
	background: #000;
}

.search-top{
	visibility: hidden;
	opacity: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	background: #fff;
	transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
	z-index: 1;
}

.search-bar-active{
	opacity: 1;
	visibility: visible;
	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.search-bg-fade{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: rgba(255, 255, 255, 0.3);
	transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
	z-index: -1;
}

.search-bar-active .search-bg-fade{
	opacity: 1;
}

.search-logo{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	aspect-ratio: 1/1;
	cursor: pointer;
	background: #000;
}

.search-clear{
	display: flex;
	align-items: center;
	color: #7F7F7F;
	height: 100%;
	padding: 0 24px;
	font-size: 12px;
	cursor: pointer;
}

.search-input{
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	padding: 0 24px;
	font-size: 12px;
	color: #111111;
}

.search-input:active, .search-input:focus{
	border: none;
	outline: none;
}

.search-list{
	display: flex;
	position: absolute;
	flex-direction: column;
	width: 100%;
	padding: 24px;
	top: 100%;
	background: #fff;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.search-bar-active .search-list{
	opacity: 1;
	visibility: visible;
	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.search-name{
	font-size: 12px;
	line-height: 150%;
	font-weight: 700;
	color: #111111;
	margin-bottom: 12px;
}

.search-goods-list{
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.search-goods-piano{
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #000;
}

.search-goods-piano-img{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	aspect-ratio: 1/1;
	padding: 0 4px;
	margin-right: 20px;
}

.search-goods-piano-img img{
	position: relative;
	display: block;
	width: 100%;
}

.search-goods-piano-title{
	font-size: 12px;
	line-height: 150%;
}

.extra-add{
	display: flex;
}

.extra-add span{
	display: flex;
	align-items: center;
	margin-left: 20px;
	color: #fff;
	font-size: 10px;
	cursor: pointer;
}

.extra-add img{
	margin-right: 6px;
}

/* HERO SECTION */

.hero{
	display: flex;
	width: 100%;
	background: #F8F6F4;
	justify-content: center;
}

.hero-container{
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}

.hero-about{
	padding: 88px 0;
}

.hero-about-info-title h1{
	font-size: 42px;
	font-weight: 900;
	line-height: 130%;
	white-space: nowrap;
}

.hero-about-info{
	padding: 40px 0;
}

.hero-about-info span{
	display:block;
	white-space: nowrap;
}

.hero-about-info-piano-color{
	margin-bottom: 8px;
}


.hero-about-info-more{
	display: flex;

}

.hero-about-info-more a{
	display: inline-block;
	padding: 12px 24px;
	border: 3px solid #000;
	line-height: 150%;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
}

.hero-about-info-piano-cost{
	font-size: 18px;
	font-weight: 600;
	line-height: 150%;
	margin: 0 48px;
}

.hero-image-slider{
	position: absolute;
	z-index: 1;
	top: 88px;
	right: 0;
}

.hero-slider-images{
	display: flex;
}

.hero-slider-image{
	transform: translateX(-50px);
	opacity: 0;
	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hero-slider-image-active{
	opacity: 1;
	transform: translateX(0px);
	transition-delay: 0.5s;
}
.hero-slider-image img{
	position: absolute;
	width: 637px;
	right: 0;
}

.hero-about-info-right{
	display: flex;
	align-items: center;
}

.hero-about-info-slider-indicator{
	display: flex;
}

.slider-indicator{
	width: 4px;
	height: 4px;
	margin-left: 8px;
	background: #000;
	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.slider-indicator-active{
	width: 32px;
}

.hero-about-info-title-type, 
.hero-about-info-title-name, 
.hero-about-info-piano-color, 
.hero-about-info-piano-cost-var{
	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hero-piano-active{
	opacity: 0;
}

.main{
	display: flex;
	width: 100%;
	justify-content: center;
	flex-direction: column;
}

.recommend{
	margin: 88px 0;
	display: flex;
	width: 100%;
	justify-content: center;
}

.recommend span{
	display: flex;
	width: 25%;
	line-height: 150%;
}

.recommend span img{
	margin-right: 20px;
}

.container-recommend{
	display: flex;
}

.catalogue{
	display: flex;
	width: 100%;
	justify-content: center;
	margin-bottom: 100px;
}

.container-catalogue{
	display: flex;
	flex-direction: column;
}

.catalogue-name{
	font-size: 36px;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.catalogue-cards{
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.catalogue-card{
	object-fit: cover;
	position: relative;
	display: flex;
	width: 270px;
	aspect-ratio: 1/1;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	color: #fff;
	text-decoration: none;
	font-weight: 900;
	text-transform: uppercase;
	transform: translateZ();
	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.catalogue-card-name{
	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.catalogue-card-arrow{
	transform: translateX(-50px);
	position: absolute;
	opacity: 0;
	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.catalogue-blackout{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.catalogue-card:hover .catalogue-card-arrow{
	transform: translateX(0);
	transition-delay: 0.3s;
	opacity: 1;
}

.catalogue-card:hover .catalogue-card-name{
	transform: scale(2);
	opacity: 0.3;
}

.catalogue-card:hover .catalogue-blackout{
	opacity: 0.4;
}

.catalogue-card > img{
	z-index: -1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}